{# templates/keeper/edit.html.twig #}
<h1>Edit Keeper</h1>

{{ form_start(form) }}
{{ form_widget(form) }}
<button type="submit">Save Changes</button>
{{ form_end(form) }}
<a href="{{ path('keeper_list') }}">Cancel</a>
