{# templates/dog/create.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Create Dog{% endblock %}

{% block body %}
    <h1>Create Dog</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Create</button>
    {{ form_end(form) }}
{% endblock %}
